{%extends 'base.html'%}
   
   
{%block content%}
    <dic class="container-fluid">
        <div>
        <h2 class="text-4xl font-bold mb-4">{{post.title}}<small style="font-size:18px;">({{post.category}})</small></h2>
        <p class="text-gray-500">Published on {{post.created_at |date }}</p>
        <img src={{post.img_url}} alt="Post Image" class="my-4">
        <p>{{post.content}}</p>
        <div align="right">
            <div class ="col-lg-4" align="left">
                <div class="card mt-3">     
                    <div class="card-body">
                        <h5 class="card-title">Related Posts</h5>
                        <ul class="list-unstyled">
                            {% for related_post in related_posts %}
                            <li><a href={% url 'blog:details' slug=related_post.slug %}>{{related_post.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    </div>
{%endblock%}
